.description,
.mentor {
  display: grid;
  margin: 10px;
  padding: 8px;
  border-right: 3px solid #816060;
  border-bottom: 3px solid #816060;
  border-top: 1px solid #816060;
  border-left: 1px solid #816060;
  font-weight: normal;
}

.studentName {
  display: grid;
  margin: 10px;
  padding: 8px;
  color: black;
  width: 200px;
  float: left;
  background: rgb(201, 233, 245);
  border-right: 3px solid #816060;
  border-bottom: 3px solid #816060;
  border-top: 1px solid #816060;
  border-left: 1px solid #816060;
  font-weight: normal;
}

.description {
  width: 300px;
}

.mentor {
  width: 200px;
}
