.mentorName {
  background: #BFB99E;
}

.studentName span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.studentName span:after {
  content: "\00bb";
  color: rgb(33, 94, 33);
  position: absolute;
  font-size: 22pt;
  opacity: 0;
  top: -10px;
  right: -10px;
  transition: 0.5s;
}

.studentName:hover span {
  padding-right: 15px;
}

.studentName:hover span:after {
  opacity: 1;
  right: 0;
}
