#note-form {
  float: left;
}

#note-form-section {
  margin-left: 20px;
}

#note-form .Button,
#note-form .Label {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #note-form-section {
    display: flex;
    margin: auto;
    width: 75%;
  }
}
