.studentsMainPage {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.studentWaitingQueue {
  display: inline-block;
  padding: 0px;
  overflow: auto;
  list-style: none;
  height: 350px;
  border: 2px solid #5e0a0a;
}

.studentListTitle {
  width: 100%;
  color: #5e0a0a;
}

.eachStudentInQueue {
  margin: 30px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #5e0a0a;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 75%;
}

.studentName:hover .tooltiptext {
  visibility: visible;
}
