.registrationContainer {
  text-align: center;
}

.registrationInput {
  display: inline-block;
  text-align: center;
  border: 2px solid #403931ec;
  border-radius: 2px;
  width: 100%;
  background: #C7CFD9;
  padding-left: 1.4px;
  padding-right: 1.4px;
}

input {
  margin-top: 3px;
  /* margin-left: 3px; */
  background: white;
  border: 1px solid #403931;
}

/* label,
.title-selection {
  background: #c8e6f5;
} */

.title-selection {
  display: inline-block;
  margin-bottom: 1px;
}

.registerTitle {
  color: #D94032;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.alreadyHaveAccount {
  color: black;

  margin-bottom: 5px;
}

.loginLink {
  color: #5e0a0a;

}

@media only screen and (max-width: 600px) {
}
