.loginContainer {
  text-align: center;
}

.loginInput {
  display: inline-block;
  border-radius: 7px;
  background: #c7cfd9;
  font-family: "Montserrat", sans-serif;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3),
    1px 1px 6px 1px rgba(0, 0, 0, 0.2), 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.passwordInput,
.usernameInput,
.fullNameInput {
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.usernameInput {
  margin-top: 10px;
}

.loginTitle {
  color: #d94032;
  font-family: "Karla", sans-serif;
  font-size: 2.2em;
}

.loginButton,
.registrationSubmit {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  color: white;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  background: rgba(206, 45, 30, 0.808);
  font-weight: bold;
  border-radius: 1.2em;
  width: 30%;
  margin-right: 9px;
}
.loginButton:active,
.registrationSubmit:active {
  transform: translateY(2px);
}
.loginButton:hover,
.registrationSubmit:hover {
  background: rgba(143, 31, 21, 0.808);
}
input[type="text"],
input[type="password"] {
  flex: 1;
}

@media only screen and (max-width: 600px) {
}
