.Mentor-List-Section ul {
  list-style-type: none;
  padding-left: 0;
}

.Mentor-List-Section {
  display: flex;
  height: 90vh;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.Mentor-List-Section ul {
  margin: 10px;
  padding: 10px;
}

.Waiting-List-Section {
  text-align: center;
}

.Waiting-List-Section,
.Being-Helped-List-Section {
  font-weight: bold;
}

.hidden {
  display: none;
}

.Mentor-List-Section span {
  padding: 10px;
  align-content: center;
}

