.Mentor-List-Section ul {
  list-style-type: none;
  padding-left: 0;
}

.keyForMentors {
  display: flex;
  flex-direction: row;
}

.Mentor-List-Section {
  display: flex;
  height: 90vh;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.linkToChatRoom {
  background: none;
}

.Mentor-List-Section ul {
  margin: 10px;
  padding: 10px;
}

.Waiting-List-Section {
  text-align: center;
}

.Waiting-List-Section,
.Being-Helped-List-Section,
.Has-Been-Helped-List-Section {
  height: 70vh;
  overflow: auto;
  border-radius: 4px;
  background: #c7cfd9;
  box-shadow: 5px 4px #403931ec;
  color: black;
  font-weight: bold;
  margin-bottom: 14px;
}

.hidden {
  display: none;
}

.Mentor-List-Section span {
  align-content: center;
}

.keyForMentors {
  display: flex;
  top: 15%;
}

.Being-Helped-List-Section .studentName:hover {
  cursor: pointer;
}

@media only screen and (max-width: 630px) {
  .Waiting-List-Section,
  .Being-Helped-List-Section,
  .Has-Been-Helped-List-Section {
    height: 100%;
  }
}
