.display-data-section {
  padding: 50px;
  margin: 25px;
}

.dataPageContainer {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.display-data-section a {
  text-decoration: none;
  color: black;
}

.chartjs-render-monitor {
  padding-bottom: 25px;
}

.display-data-section a:hover {
  color: rgba(0, 0, 0, 0.65);
}

.display-data-section h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: inline-flex;
}

.display-data-section ul {
  list-style: none;
  padding-left: 0;
}

.data-list li {
  padding-bottom: 5px;
}

.data-list-section {
  border-radius: 7px;
  height: 50vh;
  width: 30vh;
  overflow: auto;
  margin-bottom: 20px;
  background-color: rgba(183, 228, 253, 0.5);
  text-align: center;
  padding: 0 20px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3),
    1px 1px 6px 1px rgba(0, 0, 0, 0.2), 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .dataPageContainer {
    flex-direction: column;
  }
}
