nav{
  display: flex;
  background: #403931;
  font-size: 14px;
  padding-bottom: 1px;
  text-decoration: none;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}
.Navbar-right, .Navbar-right-no-user{
  display: flex;
  margin-left: auto;
  margin-right: 2em;
}
.Navbar-toggle {
  display: none;
  color: #BFB99E;
}
.Navbar-toggle:active{
  transform: translateY(.5px);
}
.nav-text, .nav-text-right{
  color: #BFB99E;
  text-decoration: none;
} 
.nav-text-right:hover, .Navbar-toggle:hover{
  color: #D83F31;
}
.login{
  padding-right: 10px;
}
.student-history-nav::after, .messageViaSlack::after, .data-link::after, .userName::after  {
  content: ' | ';
 
  margin-right: 4px;
}
.brand
 {
  margin-left: 2em;
}

@media only screen and (max-width: 504px){
  nav, .Navbar-right{
    flex-direction: column;
  }
  .Navbar-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    right: 2.1em;
  }
  .nav-text-right{
    display: none; 
  }
  .nav-text-right::after{
    content: "";
  }
  .Navbar-ToggleShow {
    display: flex;
  }

}