.buttonUp,
.buttonDropDown {
  width: 100%;
  padding: 5px;
  border: 1px solid navy;
  background: navy;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.buttonUp img {
  width: 7px;
  height: 7px;
  transform: rotate(-90deg);
}

.buttonDropDown img {
  width: 7px;
  height: 7px;
}

.noMentorHistory,
.noTicketHistory {
  display: none;
}

.mentorHistory,
.ticketHistory {
  padding: 0;
  list-style: none;
}

.mentorHistory li {
  border: 1px solid navy;
  width: 100%;
  font-size: 10pt;
  margin-bottom: 2px;
  padding: 4px;
  background: rgb(201, 233, 245);
}

.mentorHistory li span {
  float: right;
}

.mentorForTicket {
  text-indent: 10%;
  border: 1px solid navy;
  padding: 3px;
}

.noMentorForTicket {
  display: none;
}

.ticketDropDown,
.ticketUp {
  text-align: left;
  width: 100%;
  padding: 5px;
  border: 1px solid navy;
  background: navy;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.ticketUp img {
  width: 7px;
  height: 7px;
  transform: rotate(-90deg);
}

.ticketDropDown img {
  width: 7px;
  height: 7px;
}
