.history-list-container span:hover,
.history-list-container button:hover {
  cursor: pointer;
}

.history-list-container {
  font-family: "Montserrat", sans-serif;
  color:rgb(54, 49, 43);
}

.history-list-container ul {
  list-style-type: none;
  padding-left: 0;
}

.history-list-container button {
  border: none;
  border-radius: 35em;
  outline: none;
  width: 8em;
  height: 3em;
  background-color: #d83f31;
}
