.landingPageContainer {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.welcome {
  margin-top: 30px;
  color: #5e0a0a;
  padding: 20px;
  font-size: 3em;
}

.landingDescription,
.descriptionSignupLogin {
  display: inline-block;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .landingPageContainer {
    padding-left: 1em;
    padding-right: 1em;
  }
}
